-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: capstone
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alert_barangays`
--

DROP TABLE IF EXISTS `alert_barangays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alert_barangays` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alert_id` int(11) NOT NULL,
  `barangay_id` int(11) NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `read_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alert_id` (`alert_id`),
  KEY `barangay_id` (`barangay_id`),
  CONSTRAINT `alert_barangays_ibfk_1` FOREIGN KEY (`alert_id`) REFERENCES `alerts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `alert_barangays_ibfk_2` FOREIGN KEY (`barangay_id`) REFERENCES `barangays` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alert_barangays`
--

LOCK TABLES `alert_barangays` WRITE;
/*!40000 ALTER TABLE `alert_barangays` DISABLE KEYS */;
/*!40000 ALTER TABLE `alert_barangays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alert_reads`
--

DROP TABLE IF EXISTS `alert_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alert_reads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alert_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `barangay_id` int(11) NOT NULL,
  `read_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_alert_read_user` (`alert_id`,`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alert_reads`
--

LOCK TABLES `alert_reads` WRITE;
/*!40000 ALTER TABLE `alert_reads` DISABLE KEYS */;
/*!40000 ALTER TABLE `alert_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alerts`
--

DROP TABLE IF EXISTS `alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alerts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `alert_type` varchar(100) NOT NULL,
  `severity` enum('Low','Moderate','High','Critical') DEFAULT 'Low',
  `message` text NOT NULL,
  `instructions` text DEFAULT NULL,
  `status` enum('Active','Inactive','Expired') DEFAULT 'Active',
  `start_datetime` datetime DEFAULT NULL,
  `end_datetime` datetime DEFAULT NULL,
  `target_type` varchar(30) NOT NULL DEFAULT 'all',
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `alerts_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alerts`
--

LOCK TABLES `alerts` WRITE;
/*!40000 ALTER TABLE `alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barangays`
--

DROP TABLE IF EXISTS `barangays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `barangays` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `municipality` varchar(100) DEFAULT 'Kalibo',
  `province` varchar(100) DEFAULT 'Aklan',
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `latitude` decimal(12,9) DEFAULT NULL,
  `longitude` decimal(12,9) DEFAULT NULL,
  `population` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barangays`
--

LOCK TABLES `barangays` WRITE;
/*!40000 ALTER TABLE `barangays` DISABLE KEYS */;
/*!40000 ALTER TABLE `barangays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disaster_types`
--

DROP TABLE IF EXISTS `disaster_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `disaster_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disaster_types`
--

LOCK TABLES `disaster_types` WRITE;
/*!40000 ALTER TABLE `disaster_types` DISABLE KEYS */;
INSERT INTO `disaster_types` VALUES (1,'Typhoon','Active'),(2,'Flood','Active'),(3,'Storm Surge','Active'),(4,'Earthquake','Active'),(5,'Landslide','Active'),(6,'Fire','Active'),(7,'Drought / El Ni├▒o','Active'),(8,'Disease Outbreak','Active'),(9,'Accident / Mass Casualty Incident','Active'),(10,'Others','Active');
/*!40000 ALTER TABLE `disaster_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emergency_hotlines`
--

DROP TABLE IF EXISTS `emergency_hotlines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emergency_hotlines` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hotline_scope` enum('Municipal','Barangay') NOT NULL DEFAULT 'Municipal',
  `barangay_id` int(11) DEFAULT NULL,
  `office_name` varchar(150) NOT NULL,
  `municipality` varchar(100) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `telephone_numbers` text DEFAULT NULL,
  `cellphone_numbers` text DEFAULT NULL,
  `hotline_number` varchar(50) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_hotline_scope` (`hotline_scope`),
  KEY `idx_hotline_barangay` (`barangay_id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emergency_hotlines`
--

LOCK TABLES `emergency_hotlines` WRITE;
/*!40000 ALTER TABLE `emergency_hotlines` DISABLE KEYS */;
/*!40000 ALTER TABLE `emergency_hotlines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evac_assistance`
--

DROP TABLE IF EXISTS `evac_assistance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evac_assistance` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `evac_center_id` int(11) NOT NULL,
  `need_id` int(11) DEFAULT NULL,
  `donor_user_id` int(11) NOT NULL,
  `donor_label` varchar(120) NOT NULL,
  `item` varchar(150) NOT NULL,
  `unit` enum('packs','sacks','boxes','liters','pcs','kits') NOT NULL DEFAULT 'pcs',
  `qty` int(11) NOT NULL DEFAULT 0,
  `status` enum('Pledged','Sent','Delivered') NOT NULL DEFAULT 'Pledged',
  `pledged_at` timestamp NULL DEFAULT NULL,
  `sent_at` timestamp NULL DEFAULT NULL,
  `delivered_at` timestamp NULL DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `is_demo` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_evac_center` (`evac_center_id`),
  KEY `idx_donor` (`donor_user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evac_assistance`
--

LOCK TABLES `evac_assistance` WRITE;
/*!40000 ALTER TABLE `evac_assistance` DISABLE KEYS */;
/*!40000 ALTER TABLE `evac_assistance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evac_center_needs`
--

DROP TABLE IF EXISTS `evac_center_needs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evac_center_needs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `evac_center_id` int(11) NOT NULL,
  `item` varchar(150) NOT NULL,
  `unit` enum('packs','sacks','boxes','liters','pcs','kits') NOT NULL DEFAULT 'pcs',
  `qty_needed` int(11) NOT NULL DEFAULT 0,
  `is_demo` tinyint(1) NOT NULL DEFAULT 0,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_evac_center` (`evac_center_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evac_center_needs`
--

LOCK TABLES `evac_center_needs` WRITE;
/*!40000 ALTER TABLE `evac_center_needs` DISABLE KEYS */;
INSERT INTO `evac_center_needs` VALUES (31,21,'rice','sacks',100,0,60,'2026-09-10 01:41:32'),(32,21,'water','boxes',100,0,60,'2026-09-10 01:41:32'),(34,21,'sardines','boxes',100,0,60,'2026-09-10 01:49:39'),(35,21,'noodles','boxes',100,0,60,'2026-09-10 01:58:50');
/*!40000 ALTER TABLE `evac_center_needs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evac_center_profile`
--

DROP TABLE IF EXISTS `evac_center_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evac_center_profile` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `evac_center_id` int(11) NOT NULL,
  `total_evacuees` int(11) NOT NULL DEFAULT 0,
  `families` int(11) NOT NULL DEFAULT 0,
  `pregnant` int(11) NOT NULL DEFAULT 0,
  `lactating_mothers` int(11) NOT NULL DEFAULT 0,
  `infants` int(11) NOT NULL DEFAULT 0,
  `children` int(11) NOT NULL DEFAULT 0,
  `older_persons` int(11) NOT NULL DEFAULT 0,
  `pwd` int(11) NOT NULL DEFAULT 0,
  `sick` int(11) NOT NULL DEFAULT 0,
  `injured` int(11) NOT NULL DEFAULT 0,
  `source` enum('manual','computed') NOT NULL DEFAULT 'manual',
  `is_demo` tinyint(1) NOT NULL DEFAULT 0,
  `updated_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_evac_center` (`evac_center_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evac_center_profile`
--

LOCK TABLES `evac_center_profile` WRITE;
/*!40000 ALTER TABLE `evac_center_profile` DISABLE KEYS */;
INSERT INTO `evac_center_profile` VALUES (11,21,620,125,0,0,0,0,0,0,0,0,'manual',0,60,'2026-09-10 01:49:39');
/*!40000 ALTER TABLE `evac_center_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evacuation_centers`
--

DROP TABLE IF EXISTS `evacuation_centers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evacuation_centers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `barangay` varchar(100) NOT NULL,
  `municipality` varchar(50) NOT NULL DEFAULT '',
  `center_name` varchar(150) NOT NULL,
  `center_type` varchar(100) DEFAULT NULL,
  `capacity` int(11) DEFAULT 0,
  `current_evacuees` int(11) DEFAULT 0,
  `status` enum('Available','Open','Full','Closed','Needs Supplies') DEFAULT 'Available',
  `contact_person` varchar(100) DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `latitude` decimal(12,9) DEFAULT NULL,
  `longitude` decimal(12,9) DEFAULT NULL,
  `is_demo` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evacuation_centers`
--

LOCK TABLES `evacuation_centers` WRITE;
/*!40000 ALTER TABLE `evacuation_centers` DISABLE KEYS */;
/*!40000 ALTER TABLE `evacuation_centers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident_attachments`
--

DROP TABLE IF EXISTS `incident_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incident_attachments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `incident_report_id` int(11) NOT NULL,
  `uploaded_by` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_type` varchar(50) DEFAULT NULL,
  `file_size` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `incident_report_id` (`incident_report_id`),
  KEY `uploaded_by` (`uploaded_by`),
  CONSTRAINT `incident_attachments_ibfk_1` FOREIGN KEY (`incident_report_id`) REFERENCES `incident_reports` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `incident_attachments_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident_attachments`
--

LOCK TABLES `incident_attachments` WRITE;
/*!40000 ALTER TABLE `incident_attachments` DISABLE KEYS */;
/*!40000 ALTER TABLE `incident_attachments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident_reports`
--

DROP TABLE IF EXISTS `incident_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incident_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `barangay_id` int(11) NOT NULL,
  `disaster_type` varchar(100) NOT NULL,
  `incident_datetime` datetime DEFAULT NULL,
  `exact_location` varchar(255) DEFAULT NULL,
  `road_status` enum('Passable','Partially Passable','Impassable') NOT NULL DEFAULT 'Passable',
  `road_blockage_causes` varchar(255) DEFAULT NULL,
  `road_location` varchar(255) DEFAULT NULL,
  `evacuation_needed` enum('Yes','No') DEFAULT 'No',
  `evacuation_center_id` int(11) DEFAULT NULL,
  `evac_households` int(11) DEFAULT 0,
  `evac_adults` int(11) DEFAULT 0,
  `evac_children` int(11) DEFAULT 0,
  `evac_members` int(11) DEFAULT 0,
  `description` text NOT NULL,
  `assistance_needed` text DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `affected_people` int(11) DEFAULT 0,
  `injured` int(11) DEFAULT 0,
  `dead` int(11) DEFAULT 0,
  `missing` int(11) DEFAULT 0,
  `status` varchar(50) DEFAULT 'Pending',
  `referred_to_pho` tinyint(1) NOT NULL DEFAULT 0,
  `is_demo` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `barangay_id` (`barangay_id`),
  CONSTRAINT `incident_reports_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `incident_reports_ibfk_2` FOREIGN KEY (`barangay_id`) REFERENCES `barangays` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident_reports`
--

LOCK TABLES `incident_reports` WRITE;
/*!40000 ALTER TABLE `incident_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `incident_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident_status_logs`
--

DROP TABLE IF EXISTS `incident_status_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incident_status_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `incident_report_id` int(11) NOT NULL,
  `old_status` varchar(100) DEFAULT NULL,
  `new_status` varchar(100) NOT NULL,
  `remarks` text DEFAULT NULL,
  `updated_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `incident_report_id` (`incident_report_id`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `incident_status_logs_ibfk_1` FOREIGN KEY (`incident_report_id`) REFERENCES `incident_reports` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `incident_status_logs_ibfk_2` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=140 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident_status_logs`
--

LOCK TABLES `incident_status_logs` WRITE;
/*!40000 ALTER TABLE `incident_status_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `incident_status_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pcf_facilities`
--

DROP TABLE IF EXISTS `pcf_facilities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pcf_facilities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `municipality` varchar(100) NOT NULL,
  `latitude` decimal(10,7) NOT NULL,
  `longitude` decimal(10,7) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pcf_facilities`
--

LOCK TABLES `pcf_facilities` WRITE;
/*!40000 ALTER TABLE `pcf_facilities` DISABLE KEYS */;
INSERT INTO `pcf_facilities` VALUES (1,'Ibajay District Hospital','Ibajay',11.8115740,122.1535700,'2026-09-07 01:51:02'),(2,'Ibajay Primary Care Facility 1','Ibajay',11.7679570,122.1742240,'2026-09-07 01:51:02'),(3,'Ibajay Rural Health Unit II','Ibajay',11.8222700,122.1617850,'2026-09-07 01:51:02'),(4,'Ibajay Super Health Center','Ibajay',11.8179310,122.1235100,'2026-09-07 01:51:02'),(5,'Kalibo Health and Birthing Center','Kalibo',11.7110170,122.3671650,'2026-09-07 01:51:02'),(6,'Kalibo Rural Health Unit I','Kalibo',11.6672890,122.3529980,'2026-09-07 01:51:02');
/*!40000 ALTER TABLE `pcf_facilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_activity_logs`
--

DROP TABLE IF EXISTS `user_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `actor_id` int(11) DEFAULT NULL,
  `actor_name` varchar(100) DEFAULT NULL,
  `action` varchar(50) NOT NULL,
  `target_user_id` int(11) DEFAULT NULL,
  `target_username` varchar(50) DEFAULT NULL,
  `details` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_activity_logs`
--

LOCK TABLES `user_activity_logs` WRITE;
/*!40000 ALTER TABLE `user_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('superadmin','barangay','pcf','pho') NOT NULL,
  `sub_role` enum('captain','secretary','tanod','mdr_admin','mdr_kalibo','mdr_ibajay','pdrrmo','governor','mayor_kalibo','mayor_ibajay') DEFAULT NULL,
  `can_manage_users` tinyint(1) DEFAULT 0,
  `barangay_id` int(11) DEFAULT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `barangay_id` (`barangay_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`barangay_id`) REFERENCES `barangays` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=111 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-10 12:20:50
